body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #665cbe, #ffffff); 
    color: #000000;
    margin: 0;
}

.header {
    background-color: #666cbe;
    color: white;
    text-align: center;
    padding: 20px;
}

.header-content {
    max-width: 800px;
    margin: 0 auto;
}

.navbar {
    background-color: #666cbe;
    color: rgb(114, 17, 17);
    padding: 10px;
    text-align: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.section {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.download-btn {
    border-radius: 3em ;
    display: inline-block;
    background-color: #004080;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}


